margins
font-special
header
article-title
mt-2
authors
doi
article-text
references
d-none
d-print-block
link-list
link-list-link
no-underline
navbar
d-print-none
navbar-expand-lg
fixed-top
navbar-dark
w-100
border-bottom
shadow
navbar-brand
text-light
text-larger
navbar-toggler
shake
text-white
btn
btn-outline-primary
fas
fa-bars
collapse
navbar-collapse
navbar-nav
mr-auto
nav-item
nav-link
grey-white-pulse
dropdown
dropdown-toggle
active
dropdown-menu
bg-dark
dropdown-item
text-muted
form-inline
form-control
d-block
my-1
fab
fa-facebook
fa-youtube
fa-twitter
fa-patreon
bg-white
container
row
col-12
pb-5
d-inline-block
pr-1
border-left
border-dark
pl-2
mb-3
py-3
text-smaller
col-6
col-md-4
mb-1
title
pr-2
excerpt
py-5
my-5
justify-content-center
text-center
d-sm-block
text-right
pt-3
fa-newspaper
mt-5
pt-5
m-0
px-2
text-dark
fa-arrow-down
pointer
shrink-hide
circle-icon
fa-arrow-up
shrink-show
fa-times
modal-container
modal-bg
cssmodal
p-3
border
validate
email
mergeRow
gdpr-mergeRow
content__gdprBlock
mc-field-group
content__gdpr
mc_fieldset
gdprRequired
checkbox
subfield
av-checkbox
gdpr
clear
btn-primary
panimate
col
d-lg-inline
d-lg-none
mx-auto
d-lg-block
mt-3
pb-3
heading
heading-green
col-4
col-md-3
col-lg-2
container-fluid
p-5
btn-outline-light
heading-black
author
article-date
col-lg-6
py-1
order-lg-3
my-lg-1
mr-lg-1
d-flex
flex-shrink-0
mr-3
rounded
my-3
pl-lg-1
heading-red
heading-blue
sr-only
tag-link
red-strike
btn-dark
article-grid
article-header
mb-5
article-description
mb-2
pb-2
float-right
article-body
pb-print-0
form-group
d-print-flex
d-md-none
ml-5
text-decoration-none
d-inline
expand-right
editor-note
left-sidebar
hover-front
position-sticky
toc
pr-0
toc-marker
d-md-block
gae-header-bg
display-2
text-lg-right
text-lg-left
col-lg-8
shadow-inset
p-2
btn-lg
clearfix
card
card-header
mb-0
btn-link
show
card-body
pl-3
col-md-8
col-md-6
col-lg-4
col-xl-3
mr-2
webfeedsFeaturedVisual
badge
badge-secondary
fa
fa-download
dropcap
external-link
nav
bg-gradient-to-t
from-gray-300
btn-md
forum-link
pl-1
fa-orcid
series
aside-xl-right
font-weight-bold
sidenote
footnote-backref
footnote-ref
footnotes
text-decorations-none
amazon-xl-right
font-bold
aside-xl-wide
twitter-tweet
article-question
overlay
hideme
doi-badge
rounded-left
rounded-right
dropnote
fb-post
text-left
ml-3
fa-stack
fa-circle
fa-stack-2x
fa-amazon
fa-stack-1x
py-0
fa-wikipedia-w
fa-google
editor
abstract
p
footnote
del